<div class="py2 post-footer">
  <img src="/images/me.jpeg" alt="Yandy Ramirez" class="avatar" />
  <p>
    [IP]yandy.net is dedicated to programming and networking topics. Feel free to subscribe to the <a href="http://feed.inetpy.com">subscribe to the RSS feed</a> and stay up to date on any new posts. This site is maintained by Yandy Ramirez you can read more <a href="http://inetpy.com/about/">about</a> and follow him <a href="https://twitter.com/IPyandy" target="_blank">@IPyandy</a> and stay up to date.
  </p>
</div>
