<div class="share-buttons-label">
    <span>share on:</span>
</div>
<p></p>
<div class="custom-social-buttons">      
    <div class="custom-social-button twitter">
        <a id="twitter-link" href="#"><i class="fa fa-twitter"></i></a>
    </div>
    <div class="custom-social-button linkedin">
        <a id="linkedin-link" href="#"><i class="fa fa-linkedin"></i></a>
     </div>
     <div class="custom-social-button gplus">
         <a id="googleplus-link" href="#"><i class="fa fa-google-plus"></i></a>
    </div>
</div>
     <script type="text/javascript">
          window.onload = function(){           
            var blogDomain = "http%3A%2F%2Fipyandy.net%2F";
            var pageTitle = "{{ page.title }}";
            var pageTitleDashes = pageTitle.replace(/ /g, '-') + "%2F&amp;";
            var pageTitleSpaces = pageTitle.replace(/ /g, '%20') + "&amp;";
            var pageDateShort = "{{ page.dateShort }}";
            var pageDateShortSlashes = pageDateShort.replace(/-/g, '%2F') + "%2F";

            var twitterPartOne = "https://twitter.com/intent/tweet?original_referer=";
            var twitterPartTwo = "text=";
            var twitterPartThree = "tw_p=tweetbutton&amp;url=";
            var twitterPartFour = "via=IPyandy";
            var twitterUrl = twitterPartOne + blogDomain + pageDateShortSlashes + pageTitleDashes + twitterPartTwo + pageTitleSpaces + twitterPartThree + blogDomain + pageDateShortSlashes + pageTitleDashes + twitterPartFour;
            var twitterLink = document.getElementById("twitter-link");
            twitterLink.onclick = function() {popUp=window.open(twitterUrl, 'popupwindow', 'scrollbars=yes,width=600,height=400');popUp.focus();return false };

            var linkedinPartOne = "http://www.linkedin.com/shareArticle?mini=true&url=";
            var linkedinPartTwo = "&title=";
            var linkedinPartThree = "&summary=";
            var linkedinPartFour = "&source=";
            var linkedinUrl = linkedinPartOne + blogDomain + pageDateShortSlashes + pageTitleDashes + linkedinPartTwo + pageTitleSpaces + linkedinPartFour + "@IPyandy";
            var linkedInLink = document.getElementById("linkedin-link");
            linkedInLink.onclick = function() {popUp=window.open(linkedinUrl, 'popupwindow', 'scrollbars=yes,width=600,height=400');popUp.focus();return false };

            var googlePlusPartOne = "https://plus.google.com/share?url=";
            var googlePlusUrl = googlePlusPartOne + blogDomain + pageDateShortSlashes + pageTitleDashes;
            var googlePlusLink = document.getElementById("googleplus-link");
            googlePlusLink.onclick = function() {popUp=window.open(googlePlusUrl, 'popupwindow', 'scrollbars=yes,width=600,height=400');popUp.focus();return false };
          };
    </script>
</div>
<div class="py2 post-footer">
  <img src="/images/me.jpeg" alt="Yandy Ramirez" class="avatar" />
  <p>
    [IP]yandy.net is dedicated to programming and networking topics. Feel free to subscribe to the <a href="http://feed.ipyandy.net">subscribe to the RSS feed</a> and stay up to date on any new posts. This site is maintained by Yandy Ramirez you can read more <a href="http://ipyandy.net/about/">about</a> and follow him <a href="https://twitter.com/IPyandy" target="_blank">@IPyandy</a> and stay up to date.
  </p>
</div>
